<section class="sec z1" id="skills" aria-labelledby="skills-title">
    <div class="wrap">
        <div class="shead reveal">
            <div class="slbl">// 04 &mdash; skills</div>
            <h2 class="stitle" id="skills-title">{{skills.heading}}</h2>
            <p class="ssub">{{skills.subheading}}</p>
        </div>
        <div class="skouter">
            {{#each skills.categories}}
            <div class="reveal">
                <div class="skcattitle">{{this.label}}</div>
                <div class="sk-track-outer">
                    <div class="sk-track{{#if this.reverse}} rev{{/if}}" id="sk-{{this.id}}"></div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
