<div class="code-block">
  <div class="code-header">
    <div class="dots"><span></span><span></span><span></span></div>
    <div class="lang">{{lang}}</div>
  </div>
  <div class="code-body">
    <pre>{{{html}}}</pre>
  </div>
</div>