<div class="timeline-container">
  {{#each education.degrees}}
  <div class="timeline-item">
    <div class="timeline-header">
      <div>
        <div class="timeline-title">{{this.degree}}</div>
        <div class="timeline-subtitle">{{this.institution}}</div>
      </div>
      <div class="timeline-date">{{this.year}}</div>
    </div>
    {{#if this.description}}
      <p class="timeline-desc">{{this.description}}</p>
    {{/if}}
  </div>
  {{/each}}
</div>