<div class="timeline-container">
  {{#each experience.roles}}
  <div class="timeline-item">
    <div class="timeline-header">
      <div>
        <div class="timeline-title">{{this.role}}</div>
        <div class="timeline-subtitle">{{this.company}}</div>
      </div>
      <div class="timeline-date">{{this.duration}}</div>
    </div>
    <p class="timeline-desc">{{this.description}}</p>
  </div>
  {{/each}}
</div>