<div>
  {{#each skills.categories}}
  <div class="pill-group">
    <div class="pill-group-title">{{this.title}}</div>
    <div class="pill-container">
      {{#each this.items}}
      <span class="pill">{{this.name}}</span>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>