{{#section "styles"}}
  <link rel="stylesheet" href="/css/landing-page.css" />
{{/section}}

{{#section "scripts"}}
  <script src="/js/landing-page.js"></script>
{{/section}}

  <div class="noise"></div>
  <div class="grid-bg"></div>

  {{> nav}}
  {{> hero}}
  {{> about}}
  {{> skills}}
  {{> work}}
  {{> contact}}
  {{> footer}}

