    {{#section "styles"}}
    <link rel="stylesheet" href="/css/landing-page.css" />
    {{/section}}


    {{#section "scripts"}}
    <script>window.__DATA__ = {{{skillsJSON}}};</script>
    <script src="/js/landing-page.js"></script>
    {{/section}}

    <canvas id="sky" aria-hidden="true"></canvas>

    {{> nav}}

    <main>
        {{> hero}}
        {{> about}}
        {{> experience}}
        {{> education}}
        {{> skills}}
        {{> contact}}
    </main>

    <div class="z1">
        <footer>
            <p class="ft">&copy; {{footer.year}} {{personal.name}} &mdash; All rights reserved</p>
            <p class="ft">{{personal.location}} &middot; <span>Open to work</span></p>
        </footer>
    </div>

    {{> modal}}
