{{#section "styles"}}
  <link rel="stylesheet" href="/css/landing-page.css" />
  <link rel="stylesheet" href="/css/projects.css" />
  <link rel="stylesheet" href="/css/know-more.css" />
{{/section}}

{{#section "scripts"}}
  <script defer src="/js/landing-page.js"></script>
{{/section}}

  <div class="noise"></div>
  <div class="grid-bg"></div>


  {{> hero}}
  {{> about}}
  {{> experience}}
  {{> certificates}}
  {{> education}}
  {{> skills}}
  {{> know-more}}
  {{> contact}}
  {{> footer}}

